p{
  margin:0;
  padding:0'
}

.container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

header{
  display: flex;
  flex-direction: row;
}

h1{
  margin: 0;
  padding: 0;
}

.container-content{
  display: flex;
  flex-direction: row;
}

.container-side-bar{
  border: solid;
  padding: 1rem 2rem 2rem 1rem
}

.container-posts{
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 1rem 1rem 1rem 1rem;
}

.container-input-section{
  border: solid;
  padding: 1rem 2rem 1rem 2rem;
}

.input-css{
  width: 100%;
}

.post{
  padding: 1rem 1rem 1rem 1rem;
}

.container-ads{
  border: solid;
  padding: 1rem 2rem 1rem 2rem;
}

.container-post-text{
  padding-bottom: 1rem;
}

.container-post-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-image{
  max-width: 500px;
}